{% load static %}

<div id="sidebar" class="sidebar">
    <div class="sidebar-header">
        <img src="{% static 'img/whale.png' %}" alt="Profil Fotoğrafı" class="profile-img">
        <h4 class="username">{{user.get_full_name|title}}</h4>
    </div>
    <ul class="sidebar-links">
        <li><a href="{% url 'intro-page' %}">Home</a></li>
        <li><a href="{% url 'profile' %}">Profilim</a></li>
        <li><a href="{% url 'indicator' %}">İndikatörlerim</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</div>
<button id="toggleSidebar" class="toggle-btn">☰</button>