{% extends "appbase.html" %}
{% load static %}

    {% block css_files %} 
    <link rel="stylesheet" href="{% static 'homeapp/css/profilestyle.css' %}">
    <link rel="stylesheet" href="{% static 'strategyapp/css/alert.css' %}">
    <link rel="stylesheet" href="{% static 'backtestapp/css/backtest_list.css' %}">
    <link rel="stylesheet" href="{% static 'backtestapp/css/dropdown.css' %}">
    {% endblock %} 

    {% block topbar %} 
    {% endblock %} 

    {% block leftbar %} 
        {% include "homeapp/leftbar.html" %}
    {% endblock %} 

    {% block rightbar %} 
        {% include "backtestapp/backtest_list.html" %} 
    {% endblock %} 

    {% block content %}
        <div class="container">
            <!-- Backtest Adı Alanı -->
            <div class="row mb-4">
                <div class="col-12 text-center mt-4">
                    <input type="text" id="backtest-name-input" class="form-control mx-auto" style="width: 25%;" placeholder="Backtest Name">
                </div>
            </div>            

            <!-- Üçlü Row -->
            <div class="row">
                <div class="col-md-4" style="margin-top: 15px;">
                    <div class="ms-5">
                        {% include "backtestapp/before_test/strategies.html" %}
                    </div> 
                </div>
                <div class="col-md-4" style="margin-top: 15px;">
                    <div class="me-5 ms-5">
                        {% include "backtestapp/before_test/coins.html" %}
                    </div>
                </div>
                <div class="col-md-4" style="margin-top: 15px;">
                    <div class="me-5">
                        {% include "backtestapp/before_test/options.html" %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}


    {% block alert %} 
    <div id="custom-alert" class="hidden">
        <span id="alert-message"></span>
    </div>
    {% endblock %}

    {% block js_files %} 
        <script src="{% static 'homeapp/js/leftbar.js' %}"></script>
        <script src="{% static 'strategyapp/js/dropdown.js' %}"></script>
        <script src="{% static 'backtestapp/js/backtest_list.js' %}"></script>
        <script src="{% static 'backtestapp/js/backtest.js' %}"></script>
    {% endblock %}