{% extends "base.html" %}
{% load static %}


{% block links %}
  <link href="{% static 'accountapp/assets/img/logo1.jpg' %}" rel="icon">
  <link href="static/accountapp/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<!-- Vendor CSS Files -->
{% endblock %}


{% block css_files %}

<link href="{% static 'accountapp/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'accountapp/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'accountapp/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'accountapp/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/scroll.css' %}">
<link href="{% static 'accountapp/assets/css/main.css' %}" rel="stylesheet">
<link href="{% static 'accountapp/assets/css/deneme.css' %}" rel="stylesheet">

{% endblock %}



{% block content %}
<div class="tradingview-widget-container">
  <div id="tradingview_chart"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
    new TradingView.widget({
      "container_id": "tradingview_chart",
      "width": "100%",
      "height": 600,
      "symbol": "BINANCE:BTCUSDT",
      "interval": "5", // 5 dakikalık grafik
      "timezone": "Etc/UTC",
      "theme": "dark",
      "style": "1",
      "locale": "tr",
      "toolbar_bg": "#f1f3f6",
      "enable_publishing": false,
      "allow_symbol_change": true,
      "studies": ["RSI@tv-basicstudies", "MACD@tv-basicstudies"]
    });
  </script>
</div>
{% endblock %}


{% block js_files %}
<script src="{% static 'accountapp/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'accountapp/assets/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'accountapp/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'accountapp/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'accountapp/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<!-- Main JS File -->
<script src="{% static 'accountapp/assets/js/main.js' %}"></script>
{% endblock %}


