{% extends "base.html" %}
{% load static %}

{% block css_files %} 
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'accountapp/assets/css/login.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/scroll.css' %}">
{% endblock %}

{% block topbar %}

<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container d-flex justify-content-between align-items-center">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <span class="navbar-text">
                    <a href="{% url 'intropage' %}" class="fw-bold">Balina'ya</a> Hoşgeldiniz
                </span>
            </li>
        </ul>
        <div class="d-flex align-items-center">
            <span class="navbar-text me-2" style="color: lightgrey; font-size: 0.8rem;">Zaten bir hesabım var</span>
            <a class="nav-link" href="{% url 'login' %}" style="text-decoration: underline;">Giriş yap</a>
        </div>
    </div>
</nav>

{% endblock %}

{% block content %}

    <div class="container mt-5">
        <!-- Kullanıcı Giriş Formu -->
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="col-md-6">
                    <h3 class="form-heading">Kayıt ol</h3>
                        <form method="POST">
                            {% csrf_token %}
                            {% if error %}
                            <div class ="alert alert-danger">
                                {{error}}
                            </div>
                            {% endif %}
                            <div class="mb-3">
                                <label for="username" class="form-label" style="color:hsl(0, 0.00%, 100.00%);">Kullanıcı Adı</label>
                                <input type="text" placeholder="Kullanıcı Adı" class="form-control" name="username" value="{{username}}">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label" style="color:hsl(0, 0.00%, 100.00%);">Mail Adresi</label>
                                <input type="text" placeholder="Mail Adresi" class="form-control" name="email" value="{{email}}">
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="firstname" class="form-label" style="color:hsl(0, 0.00%, 100.00%);">İsim</label>
                                    <input type="text" placeholder="İsim" class="form-control" name="firstname" value="{{firstname}}">
                                </div>
                                <div class="col">
                                    <label for="lastname" class="form-label" style="color:hsl(0, 0.00%, 100.00%);">Soyisim</label>
                                    <input type="text" placeholder="Soyisim" class="form-control" name="lastname" value="{{lastname}}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="password" class="form-label" style="color:hsl(0, 0.00%, 100.00%);">Şifre</label>
                                    <input type="password" placeholder="Şifre" class="form-control" name="password">
                                </div>
                                <div class="col">
                                    <label for="repassword" class="form-label" style="color:hsl(0, 0.00%, 100.00%);">Şifre Tekrar</label>
                                    <input type="password" placeholder="Şifre Tekrar" class="form-control" name="repassword">
                                </div>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="terms" name="terms">
                                <label class="form-check-label" for="terms" style="color:hsl(0, 0.00%, 100.00%);">
                                    <a href="{% url 'register' %}" class="forgot-password">Kullanıcı Sözleşmesi</a>'ni okudum ve onaylıyorum
                                </label>
                            </div>
                            <div class="mb-3"></div>
                            <button type="submit" class="btn btn-primary">Kayıt ol</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div id="followereg"><img src="{% static 'img/cross-regular-24.png' %}"></div>
    <audio id="gunshot-sound">
        <source src="{% static 'sounds/gunshot.mp3' %}" type="audio/mp3">
    </audio>

{% endblock %}

{% block js_files %}
<script src="{% static 'accountapp/assets/js/signup-fallower.js' %}"></script> {% endblock %}
