.sidebar-right {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transition: right 0.3s ease;
    overflow-y: auto;
    z-index: 1000;
    border-left: 2px solid black; /* Siyah kenarlık */
    border-radius: 20px; /* Yuvarlak köşeler, sadece sağ üst ve alt köşeler */
}

.sidebar-right.open {
    right: 0px;
}

/* Sidebar Header */
.sidebar-header-right {
    text-align: center;
    padding: 8%;
    margin-top: 0%;
    margin-right: 10px;
    border-bottom: 2px solid #041f4d;
}

.username-right {
    font-size: 1.5em;
    margin: 0;
    margin-right: 10px;
    font-weight: bold;
}

/* Modern Sidebar Links */
.sidebar-links-right {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

.sidebar-links-right li {
    padding: 0.8em 1.2em;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
    position: relative;
}

.sidebar-links-right li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.sidebar-links-right li a:hover {
    background-color: #f0f0f0;
    color: #ffdf91;
}

.sidebar-links-right li i {
    font-size: 1.2em;
}

/* Toggle Button */
.toggle-btn-right {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #044c57;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.4em;
    cursor: pointer;
    z-index: 1100;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.toggle-btn-right:hover {
    background-color: #40be9c;
}

#indicatorList li.active {
    background-color: #000000e1; /* Change this to your preferred color */
    color: #ffffff; /* Text color */
    border-radius: 10px; 
}

.stop-btn {
    margin-top: 5px;
    background-color: #fd0d0d;
    width: 25px;
    color: #ffffff;
    border: 2px;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    position: absolute; /* Bu Ã¶zelliÄŸi relative yapmalÄ±yÄ±z */
    right: 135px; /* SaÄŸdan mesafeyi artÄ±rdÄ±m */
}

.stop-btn:hover {
    background-color: #e61b1b;
}

.view-btn {
    margin-top: 5px;
    background-color: #0d9efd;
    width: 45px;
    color: #ffffff;
    border: 2px;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    position: absolute; /* KonumlandÄ±rmayÄ± mutlak hale getir */
    right: 85px; /* SaÄŸ kenardan 10px mesafe */
}

.view-btn:hover {
    background-color: #0a96f3;
}

.analyze-btn {
    margin-top: 5px;
    background-color: rgb(0, 149, 40);
    width: 70px;
    color: #ededed;
    border: 2px;    
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    position: absolute; /* KonumlandÄ±rmayÄ± mutlak hale getir */
    right: 10px; /* SaÄŸ kenardan 10px mesafe */
}

.analyze-btn:hover {
    background-color: rgb(0, 103, 29);
}

/* Göz Butonu*/
.disabled-btn {
    background-color: #ccc; /* Soluk renk */
    color: #666; /* Daha soluk bir yazı rengi */ 
}

