
<div class="card shadow-sm">
    <div class="card-body">
        <div class="row">
            <div class="col-md-10">
                <h4 class="card-title text-center mb-4">New Strategy</h4>
            </div>
            <div class="col-md-2">
                <button id="mainButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#strategyModal">
                    ☰
                </button>
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
                <form id="new-strategy-form" action="strategy" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">Strategy Title</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            name="title" 
                            id="strategy-title" 
                            placeholder="Enter Title" 
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="code" class="form-label">Code</label>
                        <textarea 
                            class="form-control" 
                            name="code" 
                            id="code" 
                            rows="15" 
                            style="white-space: nowrap; overflow-x: scroll; resize: none;" 
                            required></textarea>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" name="action" value="save" onclick="saveStrategy()">Save</button>
                    </div>
                </form>
        </form>
    </div>
</div>
