{% extends "appbase.html" %}

{% load static %}

{% block css_files %} 
<link rel="stylesheet" href="{% static 'homeapp/css/profilestyle.css' %}">
{% endblock %}

{% block topbar %}
{% endblock %}


{% block leftbar %} 
    {% include "homeapp/leftbar.html" %}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <h1>İNDİCATOR EKLEME SAYFASI</h1>
        </div>
    </div>

{% endblock %}

{% block js_files %}
<script src="{% static 'homeapp/js/leftbar.js' %}"></script>
{% endblock %}