.custom-navbar {
    background-color: hsl(0, 0%, 2%);
}

.custom-navbar .nav-link {
    color: hwb(0 45% 55%);
}

.custom-navbar .nav-link:hover {
    color: hsl(0, 0%, 100%);
}

.custom-navbar .navbar-text {
    color: #ffffff;
}

.custom-navbar .navbar-text a {
    color: #00779b;
    text-decoration: none;
}

.custom-navbar .navbar-text a:hover {
    color: hwb(221 0% 59%);
}

* {
    cursor: none !important;
}

input, textarea {
    caret-color: transparent;
    cursor: none;
}

body {
    background: linear-gradient(
        135deg,
        rgb(0, 0, 0),
        rgb(0, 39, 83) 65%,
        #031636 65%,
        rgb(0, 0, 0) 100%
    );
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Giriş Formunun Arka Planını Yarı Saydam Yap */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px; /* Daha yuvarlak köşeler */
    background: #ffffff00; /* Daha açık yarı saydam arka plan */
    backdrop-filter: blur(15px); /* Daha belirgin buğulu efekt */
    -webkit-backdrop-filter: blur(15px); /* Safari desteği */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); /* Daha belirgin gölge efekti */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Hafif beyaz kenarlık */
}



/* Text Kutularının (Input) Görünümü */
input[type="text"],
input[type="password"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 0px;
    background-color: hsl(0, 0%, 100%);
    color: hwb(0 0% 100%);
    font-size: 14px;
}

/* Hover ve Focus Durumu */
input[type="text"]:hover,
input[type="password"]:hover {
    border-color: hwb(0 51% 49%);
    background-color: #f9fff0;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: hsl(0, 0%, 15%);
    outline: none;
    background-color: hwb(0 79% 21%);
}

/* "Login" Butonu */
button[type="submit"] {
    background-color: hwb(197 0% 27%);
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 20%;
    max-width: 300px;
}

button[type="submit"]:hover {
    background-color: hwb(212 11% 59%);
}

.form-heading {
    color: #ffffff;
}

.forgot-password {
    color: #61a6bb;
    transition: color 0.3s ease-in-out;
}

.forgot-password:hover {
    color: #002b53;
}

#follower {
    position: fixed;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    pointer-events: none;   /* Fare tıklamalarından etkilenmez             <div id="follower"> </div>       */
    transition: transform 0.0000001s ease;  /*Hareketin yumuşak görünmesi için */
}

#followereg {
    position: fixed;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    pointer-events: none;  /*Fare tıklamalarından etkilenmez             <div id="follower"> </div>       */
    transition: transform 0.000000001s ease; /* Hareketin yumuşak görünmesi için */
}

.bullet-hole {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url("/static/img/bullet-hole.png") no-repeat center center;
    background-size: contain;
    pointer-events: none;
    opacity: 1;
    animation: fadeOut 10s forwards;
    z-index: 9999; /* Üstte gözükmesi için */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

